*.o
*.obj
*.exe
*.DS_Store
*.log
*.user
*~
.vs/
Debug/
Release/
Build/
/doomgeneric/doomgeneric
/doomgeneric/doomgeneric.map

# Power BI port (see powerbi/README.md)
doomgeneric/*.wad
doomgeneric/*.WAD
doomgeneric/doom.js
powerbi/node_modules/
powerbi/dist/
powerbi/.tmp/
powerbi/src/doom.js
powerbi/*.statistics*.html
*.pbiviz
